{% extends "base.html" %}

{% block head_title %}
  This is so Cool!
{% endblock %}

{% block content %}
  <h1>Welcome to Tweetme 2</h1>

  <div id="tweets">
    replace me
  </div>

  <script type="text/javascript">
   const tweetsElements = document.getElementById("tweets")
   // tweetsElements.innerHTML("Loading...")

   function formatTweet(tweet) {
     return `<div class="mb-4 tweet" id="tweet-${tweet.id}"><p>${tweet.content}</p></div>`
   }

   const xhr = new XMLHttpRequest()
   const method = "GET"
   const url = "/tweets"
   const responseType = "json"
   xhr.responseType = responseType
   xhr.open(method, url)
   xhr.onload = function(){
     const serverResponse = xhr.response
     const listItems = serverResponse.response
     let finalTweets = ""
     for (var i=0; i<listItems.length; i++) {
       var tweetObj = listItems[i]
       var currentTweet = formatTweet(tweetObj)
       finalTweets += currentTweet
     }
     tweetsElements.innerHTML = finalTweets
   }
   xhr.send()
  </script>

{% endblock %}
