{% extends "base.html" %}

{% block head_title %}
  This is so Cool!
{% endblock %}

{% block content %}
  <h1>Welcome to Tweetme 2</h1>

  <div id="tweets">
    replace me
  </div>

  <script type="text/javascript">
   const tweetsElements = document.getElementById("tweets")
   // tweetsElements.innerHTML("Loading...")

   const xhr = new XMLHttpRequest()
   const method = "GET"
   const url = "/tweets"
   const responseType = "json"
   xhr.responseType = responseType
   xhr.open(method, url)
   xhr.onload = function(){
     const serverResponse = xhr.response
     const listItems = serverResponse.response
     let finalTweets = ""
     for (var i=0; i<listItems.length; i++) {
       var currentItem = `<div class="mb-4"><h1>${listItems[i].id}</h1><p>${listItems[i].content}</p></div>`
       console.log(currentItem)
       finalTweets += currentItem
     }
     tweetsElements.innerHTML = finalTweets
   }
   xhr.send()
  </script>

{% endblock %}
